*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
scroll-behavior: smooth;
}

body{
    color: black;
    background-color: rgba(0, 255, 255, 0.281);
}
.container{
    width: 100%;
    height: 100vh;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 10px;
background-color: rgb(0, 0, 0);
position: fixed;
width: 100%;
z-index: 100;
top: 0;
height: fit-content;

}
.container .navbar ul {
    list-style: none;
    
}
.container .navbar ul li{
   padding: 15px 20px;
   border-radius: 5px;
   float: left;
}
.container .navbar ul li:hover{
    background-color: aliceblue;
}
.container .navbar ul li:hover a{
    background-color: aliceblue;
    color: black;
}
.container .navbar ul li a{
    text-decoration: none;
    color: white;
    display: block;
    text-transform: capitalize;
}
.container .navbar .logo-and-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 100%; */
    /* border: 1px solid white!important; */
    
}

.container .navbar .logo-and-menu .menu .fa-bars{
color: white!important;
font-size: 20px!important;
display: none!important;
}
.container .navbar .logo-and-menu .logo{
    color: white;
    margin-right: auto;

}
/* end of navigation */
/* main content */
.container .hero{
 margin: 0 auto;   
 width: 80%;
 height: 100vh;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;

}
.container .hero .title{
    
text-align: center;
font-size: 3rem;
margin: 0.5em 0;

}
.container .hero .title::first-letter{
    
text-align: center;
text-transform: uppercase;
}
.container .hero .title .company-name{
    
text-transform: capitalize;
color: brown;
}
.container .hero .text{
line-height: 1.7;
text-align: center;
font-size: 1.5rem;
    

}

.container .hero .btn{
    display: block;
    margin: 20px auto;
    width: 160px;
    height: 35px;
background-color: transparent;
border: none;
outline:1px solid;
text-align: center;
font-size: 1.2rem;
font-weight: 500;
border-radius: 5px;
transition: all 10ms ease-in-out 10ms;

}
.container .hero .btn a{
    color: black;
    text-decoration: none;

}
.container .hero .btn:hover{
   background-color: black;
   color: white;
}
.container .hero .btn:hover a{
    color:white;
    text-decoration: none;

}
/* additional classes */
.row{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    width: 100%;
    gap: 20px;
}
.sub-title{
    text-align: center;
    text-transform: capitalize;
    margin: 2em 0;
    font-size: 2rem;
    position: relative;
}
.container  .sub-title::after{
    content: '';
    position: absolute;
    background-color:brown;
    width: 100px;height: 5px;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%);
}
.card{
    width: 100%;
    outline: 1px solid;
    padding: 20px 10px;
    border-radius: 5px;
    overflow: hidden;
    margin: 10px 0;
    height: fit-content;

}
.card:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
.card-icon{
    width: 100%;
}
.card-name{
    padding: 10px 0;
    font-weight: 500;
    text-align: center;

}
.card-information{
    padding: 10px 0;
    font-weight: 400;
text-align: center;
line-break: loose;
}
.container .services{
    width: 90%;
    margin: 0px auto;
    height: 100vh;
    
}
/* @media screen and (max-width:960px) {
 
/* end of navigation */

/* main content */
.row{
    grid-template-columns: repeat(4,1fr);
}

@media screen and (max-width:960px) {
    .row{
        grid-template-columns: repeat(3,1fr);
    }
}

@media screen and (max-width:700px) {
    .container .navbar{
       
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
        position:fixed;
        top:0;
    }
    .container .navbar ul {
        /* width: 100%; */
        display: none;
       width: 100%;
       text-align: center;
       margin-top: 10px;
    }
    .container .navbar ul li{
        float:none;

    }
   
    .container .navbar ul li a{
        text-decoration: none;

    }
    .container .navbar .logo-and-menu  {
       width: 100%;
    }
    .container .navbar .logo-and-menu .menu .fa-bars{
       /* margin-left: auto!important; */
       display: block!important;
    }
/* end of navigation */

/* main content */
.row{
    grid-template-columns: repeat(2,1fr);
}

}
@media screen and (max-width:575px) {
    .container .navbar{
       
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
        position:fixed;
        top:0;
    }
    .container .navbar ul {
        /* width: 100%; */
        display: none;
       width: 100%;
       text-align: center;
       margin-top: 10px;
    }
    .container .navbar ul li{
        float:none;

    }
   
    .container .navbar ul li a{
        text-decoration: none;

    }
    .container .navbar .logo-and-menu  {
       width: 100%;
    }
    .container .navbar .logo-and-menu .menu .fa-bars{
       /* margin-left: auto!important; */
       display: block!important;
    }
/* end of navigation */

/* main content */
.row{
    grid-template-columns: repeat(1,1fr);
}

}